  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* ----------------------------Section 1----------------- */


.section1 {
    background-image: url(../assets/section1imglaptop.jpg);
    background-size: cover;
    background-position: top;
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center1 {
    backdrop-filter: blur(10px); /* This adds the blur effect */
    background-color: rgba(102, 51, 153, 0.6); /* rebeccapurple with 60% opacity for slight transparency */
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Using Poppins font */
    text-align: center; 
    margin-bottom: 40px;
    border-radius: 15px; /* Optional: Add a slight roundness to the corners */
    padding: 20px; /* A bit of padding so content doesn't stick to the edges */
}

.content1 {
    text-align: center; /* Center the text inside this div */
    margin-bottom: 20px; /* Add some space before the button */
    color: white; /* Set the text color to white for better contrast */
    font-size: 24px; /* Set the font size or adjust as needed */
}
.content1 > div { /* Assuming 'NoteNest' is wrapped inside a div */
    font-size: 48px; /* Larger font size for the app's name */
    font-weight: 700; /* Bold weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow to lift the text */
    margin-bottom: 20px; /* Space between the title and description */
}
.content1 > p {
    font-size: 20px; /* Descriptive text size */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for readability */
}
.button {
    width: 200px; /* Set a width for the button */
    height: 50px; /* Set a height for the button */
    text-align: center; /* Center the button text */
}

.getstartedbutton {
    background-color: #ffffff; /* White background */
    color: rebeccapurple; /* rebeccapurple text */
    border: none; /* Remove default borders */
    width: 100%; /* Full width of the .button div */
    height: 100%; /* Full height of the .button div */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.getstartedbutton:hover {
    background-color: rebeccapurple; /* On hover, switch colors */
    color: #ffffff;
}

/* ----------------------section 2----------------------- */
.section2 {
    height: 620px;
    overflow: hidden; /* To contain the floated elements */
    font-family: 'Poppins', sans-serif; /* Setting the font for this section */
}


.left {
    width: 40%;
    float: left;
    background-color: #1a1a2e; /* Dark blueish-grey background */
    height: 100%;
    display: flex; /* Using flexbox to center the content vertically and horizontally */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Some spacing around the content */
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.2); /* Adding a shadow for depth */
}

.left div {
    font-size: 26px; /* Bigger font size for emphasis */
    text-align: center;
    line-height: 1.5; /* A better line-height for readability */
    font-weight: bold;
    color: #e0e0e0; /* Light grey color for contrast against dark background */
    max-width: 80%;
    margin: 0 auto; /* Centering the text block inside the .left container */
    border-left: 4px solid #FF6347; /* Adding a decorative border for a splash of color */
    padding-left: 20px; /* Padding to space out the text from the border */
}

.right {
    width: 60%;
    float: right;
    background-color: #B0ABB1;
    height: 100%;
}

.section2img {
    background-image: url('../assets/section2img.jpg');
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 620px;
}
/* ----------------------section 3----------------------- */
.section3 {
    height: 620px;
    /* display: flex;  */
}

.sec3left {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the text content */
    padding: 20px; /* Provides some space around the content */
    background: linear-gradient(145deg, #152238, #241B2F);
    color: #F7F7F7; /* Light text color for better readability against dark background */
    font-family: 'Poppins', sans-serif; /* Sets the Poppins font, with a generic sans-serif as a fallback */
}

.sec3left h2 {
    font-size: 36px; /* Increases the font size for the heading */
    margin-bottom: 20px; /* Adds some space between the heading and the paragraph */
    font-weight: 600; /* Medium weight for the heading for emphasis */
}

.sec3left p {
    font-size: 18px; /* Adjusts the font size for the paragraph */
    line-height: 1.5; /* Provides better readability by spacing out the lines */
    font-weight: 400; /* Regular font weight for the paragraph text */
}


.sec3right {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centering the GIF horizontally */
    align-items: center; /* Centering the GIF vertically */
    background: linear-gradient(145deg, #1C2331, #2C3A47);
}

.sec3gif {
    background-image: url('../assets/update.gif');
    background-size: contain; /* Ensures the GIF is fully visible and centered */
    background-repeat: no-repeat; 
    background-position: center; 
    width: 504px;
    height: 286px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.1); /* Light shadow for the GIF */
    border-radius: 10px; /* Optional: Rounded corners for the GIF */
}



/* ----------------------section 4----------------------- */
.section4 {
    height: 620px;
    display: flex; 
}

.sec4left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the text content */
    padding: 20px; /* Provides some space around the content */
    background: linear-gradient(145deg, #203A43, #0F2027);
    color: #F7F7F7; /* Light text color for better readability against dark background */
    font-family: 'Poppins', sans-serif; /* Sets the Poppins font, with a generic sans-serif as a fallback */
}

.sec4left h2 {
    font-size: 36px; /* Increases the font size for the heading */
    margin-bottom: 20px; /* Adds some space between the heading and the paragraph */
    font-weight: 600; /* Medium weight for the heading for emphasis */
}

.sec4left p {
    font-size: 18px; /* Adjusts the font size for the paragraph */
    line-height: 1.5; /* Provides better readability by spacing out the lines */
    font-weight: 400; /* Regular font weight for the paragraph text */
}


.sec4right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centering the GIF horizontally */
    align-items: center; /* Centering the GIF vertically */
    background: linear-gradient(145deg, #243B55, #141E30);
}

.sec4gif {
    background-image: url('../assets/delete.gif');
    background-size: contain; /* Ensures the GIF is fully visible and centered */
    background-repeat: no-repeat; 
    background-position: center; 
    width: 504px;
    height: 286px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.1); /* Light shadow for the GIF */
    border-radius: 10px; /* Optional: Rounded corners for the GIF */
}
/* ----------------------------Section 5----------------- */
.section5{
    background-image: url('../assets/section5img.jpg');
    background-position: center;
    background-size: cover;
    height: 620px;
    width: 100%;
    display: flex;
    align-items: center; /* Centers children vertically */
}
.content5 {
    width: 40%;
    display: flex;
    flex-direction: column; /* Stacks content vertically */
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    font-family: 'Poppins', sans-serif;

    /* For contrast against yellow */
    color: #263238; 
}

.content5 h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}

.content5 p {
    font-size: 18px;
    text-align: center;
}
.sec5button {
    width: 44%;
    display: flex;
    justify-content: center; /* Centers button horizontally */
    align-items: center; /* Centers button vertically */
}

.sec5button button {
    font-family: 'Poppins', sans-serif;
    background-color: #FF6347; /* A tomato color, which contrasts with white and yellow */
    color: #FFFFFF; /* White text color */
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.sec5button button:hover {
    background-color: #FF4020; /* Slightly darker shade for hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}
















/*--------------------------------- Mobile responsive styles-------- */
@media (max-width: 768px) { 
/* ----------------------------Section 1----------------- */

.section1 {
    background-size: cover; /* Ensure the background covers the entire section. Adjust as per the image content. */
    background-position: center center; /* Center the image. Adjust if there's a specific focal point in your image. */
    height: 100vh; /* Taking the full viewport height so that the content doesn't feel cramped */
}
  

    .center1 {
        width: 90%; /* Making the width relative to the device size, 10% margin total */
        height: auto; /* Allow it to adjust based on content size */
        padding: 30px; /* Increased padding for better spacing */
    }

    .content1 > div { 
        font-size: 32px; /* Decreased font size for the app's name */
        margin-bottom: 15px; /* Adjusted space */
    }

    .content1 > p {
        font-size: 16px; /* Decreased descriptive text size */
    }

    .button {
        margin-top: 20px; /* Additional space before the button */
    }

    .getstartedbutton {
        height: 40px; /* Reduced button height */
        font-size: 16px; /* Adjusted font size */
    }

    /* ----------------------section 2----------------------- */


    .section2 {
        height: 76vh;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
    }
   
    .left, .right {
        width: 100%; /* On mobile, make both sections take full width */
        float: none;
    }
    
    .left {
        background-color: #1a1a2e;
        height: 40vh; /* Take half of the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .left div {
        font-size: 20px; /* Slightly reduced font size for mobile */
        text-align: center;
        line-height: 1.5;
        font-weight: bold;
        color: #e0e0e0;
        max-width: 90%; /* Allow for a bit more width on mobile */
        margin: 0 auto;
        border-left: 4px solid #FF6347;
        padding-left: 15px;
    }
    
    .right {
        background-color: #B0ABB1;
        height: 60vh; /* Again, half of the viewport height */
    }
    
    .section2img {
        
        background-size: cover;
        background-position: center;
        width: 100%; /* Full width on mobile */
        height: 36vh;
    }

        /* ----------------------section 3----------------------- */
    /* Stacks the left and right sections vertically */
    .section3 {
        height: 78vh;
        flex-direction: column;
    }

    .sec3left{
        width: 100%; /* Each section takes full width on mobile */
        height: 50vh; /* Auto height as content will dictate the height */
    }
    .sec3right{
        width: 100%; 
        height: 28vh; 
    }

    /* Adjust text size and padding for mobile for better readability */
    .sec3left {
        padding: 15px;
    }

    .sec3left h2 {
        font-size: 28px;
    }

    .sec3left p {
        font-size: 16px;
    }

    /* Adjust GIF size for mobile if necessary */
    .sec3gif {
        width: 388px;
       height: 205px;
        margin: 0 auto; /* This centers the GIF if it's less than 100% width */
    }
        /* ----------------------section 4----------------------- */
    /* Stacks the left and right sections vertically */
    .section4 {
        height: 78vh;
        flex-direction: column;
    }

    .sec4left{
        width: 100%; /* Each section takes full width on mobile */
        height: 50vh; /* Auto height as content will dictate the height */
    }
    .sec4right{
        width: 100%; 
        height: 28vh; 
    }

    /* Adjust text size and padding for mobile for better readability */
    .sec4left {
        padding: 15px;
    }

    .sec4left h2 {
        font-size: 28px;
    }

    .sec4left p {
        font-size: 16px;
    }

    /* Adjust GIF size for mobile if necessary */
    .sec4gif {
        width: 388px;
       height: 205px;
        margin: 0 auto; /* This centers the GIF if it's less than 100% width */
    }



    /* ------------------------------Adjusts section5 for mobile---------------- */
    .section5 {
        flex-direction: column; /* Stacks content vertically */
        height: auto; /* Adjusts to content height */
        padding: 20px 0; /* Some padding for spacing */
    }

    .content5, .sec5button {
        width: 90%; /* Occupy most of the screen width, but leave some padding */
        margin-bottom: 20px; /* Spacing between content and button */
    }

    .content5 h2 {
        font-size: 28px; /* Slightly reduced for mobile screens */
    }

    .content5 p {
        font-size: 16px;
    }

    .sec5button button {
        font-size: 16px; /* Adjust font size if necessary */
        padding: 10px 20px; /* Adjust padding if necessary */
        /* If you want to remove the slide effect on mobile, reset the left property */
        left: 0;
    }



}
