.gradient-custom {
    background-image: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginbackground {
    background-color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
    padding: 40px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  }
  
  .form-label {
    color: rgba(106, 17, 203, 1); /* Purple color similar to gradient */
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: rgba(106, 17, 203, 1);
    border-color: rgba(106, 17, 203, 1);
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: rgba(37, 117, 252, 1);
    border-color: rgba(37, 117, 252, 1);
  }
  .account-info {
    margin-top: 20px; /* Space above the text */
    text-align: center; /* Center the text horizontally */
    font-size: 16px; /* Adjust if necessary */
  }
  
  .account-info a { 
    color: rgba(106, 17, 203, 1); /* Purple color similar to gradient */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make the link bold */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .account-info a:hover {
    color: rgba(37, 117, 252, 1); /* Blue color on hover, similar to gradient */
  }
  .addnote-error-message {
    color: #e74c3c; /* Bright red color for the text */
    background-color: #fbeaea; /* Light red for the background */
    border: 1px solid #e74c3c; /* Border to make it pop */
    padding: 10px 15px; /* Some padding for a better look */
    border-radius: 5px; /* Rounded edges */
    margin-top: 15px; /* Space from the other elements */
    width: fit-content; /* Adjust width based on content */
    margin-left: auto; /* Center align in case the parent has flexbox or grid */
    margin-right: auto;
    font-weight: 600; /* Slightly bold */
    box-shadow: 0px 3px 10px rgba(231, 76, 60, 0.2); /* Soft shadow for depth */
}
  
  



  /* Mobile devices */
@media (max-width: 768px) {
    .loginbackground {
      padding: 20px; /* reduce padding on smaller screens */
      width: 350px;
    }
    
    .form-label, .form-text {
      font-size: 14px; /* reduce font size on smaller screens */
    }
  }
  