.container{
  max-width: 409px;
}
.butn{
  transform: translateX(110px);
  padding-left:36px;
  padding-right: 36px;
}
.fa-solid{
  margin-right:10px;
  cursor: pointer;
}
.addnote-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addnote-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
} 
.deletenote-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletenote-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 118%;
}

.save-del{
  width: 128px;
  margin: 15px;
}
/* ADD note button */
.sticky-top {
  top: 8px;
  z-index: 10; /* Ensure it stays above other elements, given it's sticky positioned */
}

.btn-dark {
  background-color: #2a2a72; /* Deep blue shade */
  border-color: #2a2a72; /* Same as background, so there's no distinct border */
  color: #ffffff; /* White text for contrast */
  padding: 10px 20px; /* Slightly larger padding for a prominent button */
  border-radius: 15px; /* Rounded edges */
  font-weight: 600; /* Bold font for better visibility */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.btn-dark:hover, .btn-dark:focus {
  background-color: #151543; /* A bit darker shade of blue on hover/focus */
  border-color: #1d1d58;
}

.textarea{
  height: 150px  !important;
  max-height: 300px;
    overflow-y: auto;
}
.card-body{
  white-space: pre-line;
}
.addnote-error-message{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.containersignin-up {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.buttonsign-up {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 4px;
  width: 77px;
  padding: 5px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.buttonsign-up:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
.gradient-custom{
  background-image: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}
.loginbackground{
  background-color: darkslategray;
}
.userloginbuttonsformobile{
  display: none;
}

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content { 
    /* Assuming this class represents your main content */
    flex: 1; 
  }




@media screen and (max-width:480px ) {
  .addnote-modal-content{
    width: 97%;
  }
  .deletenote-modal-content{
    width: 100%;
  }
  .userloginbuttonsformobile{
    display: inline-block;
  }
  .userloginbuttonsfordesktop{
    display: none;
  }
  .wid{
    width: 80%;
  }
  .buttonsign-up {
    width: 60px; /* Reduced width for mobile */
    padding: 6px 0; /* Reduced padding for mobile */
    font-size: 12px; /* Smaller font size for mobile */
    margin: 0 2px; /* Reduced margin for mobile */
  }

  .log, .reg {
    font-size: 12px; /* Smaller font size for both buttons */
  }
 
}